@import url("http://fonts.googleapis.com/css?family=Arvo:bold&subset=latin");

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "IconicStroke";
  src: local("IconicStroke"), url("iconic.ttf") format("truetype");
}

p,
h1,
h2,
dl,
dt,
dd,
ul,
li,
pre,
code,
html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #FFF;
  color: #555;
}

body {
  padding: 0 0 32px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body > header {
  background: #DC9;
  color: #432;
  padding: 28px 0 45px 0;
}

body > header h1 a {
  background: #DC9;
  color: #432;
  font: bold 48px/1 Arvo, Helvetica, Arial, Sans-serif;
  text-decoration: none !important;
}

body > header h1 span {
  display: inline-block;
}

body > header h1 span:nth-child(1)  { margin: 0 -2px 0 0; }
body > header h1 span:nth-child(2)  { margin: 0 -1px 0 0; }
body > header h1 span:nth-child(3)  { margin: 0 1px 0 0; }
body > header h1 span:nth-child(4)  { margin: 0 -1px 0 0; }
body > header h1 span:nth-child(5)  { margin: 0 -1px 0 0; }
body > header h1 span:nth-child(6)  { margin: 0 -3px 0 0; }
body > header h1 span:nth-child(7)  { margin: 0 -1px 0 0; }
body > header h1 span:nth-child(8)  { margin: 0 -3px 0 0; }
body > header h1 span:nth-child(9)  { margin: 0 -1px 0 0; }
body > header h1 span:nth-child(10) { margin: 0 -1px 0 0; }

body > header h2 {
  position: absolute;
  left: 66px;
  bottom: -12px;
  font: normal 12px/1 "Helvetica Neue Light", HelveticaNeue-Light, Helvetica, Arial, Sans-serif;
}

#request-token a {
  position: absolute;
  top: 14px;
  right: 13px;
  background: #6EAE3C;
  background: -moz-linear-gradient(0% 100% 90deg, #6EAE3C 0%, #6EAE3C 50%, #53961F 50%, #53961F 100%);
  background: -webkit-gradient(linear, 0% 50%, 0% 51%, from(#6EAE3C), to(#53961F));
  color: #FFF;
  padding: 10px 16px 12px 46px;
  border: 0;
  font: bold 16px/1 "Helvetica Neue Light", HelveticaNeue-Light, Helvetica, Arial, Sans-serif;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(45, 104, 64, .7);
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

#request-token a:hover {
  background: #7EBE4C;
  background: -moz-linear-gradient(0% 100% 90deg, #F15587 0%, #F15587 50%, #F26895 50%, #F26895 100%);
  background: -webkit-gradient(linear, 0% 50%, 0% 51%, from(#7EBE4C), to(#63A62F));
}

#request-token a:before {
  position: absolute;
  top: 6px;
  left: 12px;
  background: transparent;
  color: #FFF;
  font-size: 32px;
  font-family: "IconicStroke";
  content: "k";
}


section.container {
  padding-top: 48px;
  overflow: hidden;
}

section > section {
  width: 672px;
  float: left;
}

section > section header {
  position: relative;
  margin: 0 0 8px 0;
}

p.warning + header {
  margin-top: 0;
  padding-top: 16px;
}

section header h1 {
  background: transparent;
  color: #000;
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
}

section h2 {
  background: transparent;
  color: #333;
  margin: 0 0 8px 0;
  padding: 8px 0 0 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}

section p,
section ol,
section label {
  margin: 0 0 14px 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}

section label {
  margin: 12px 0 2px 0;
  font-weight: bold;
  display: inline-block;
}

section input[type="text"] {
  width: 240px;
  padding: 4px;
  font-size: 12px;
  outline: 0;
}

section input[type="checkbox"] {
  margin-left: 8px;
}

section input[type="checkbox"] + label {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
}

section button {
  margin: 16px 0 0 0;
}

section p.warning {
  position: relative;
  background: #FFF2AF;
  color: #222;
  padding: 10px 10px 10px 34px;
  border: 1px solid #EEB;
}

section a {
  background: transparent;
  color: #27A;
}

section a:hover span {
  text-decoration: underline;
}

section p.warning:before {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #222;
  font-size: 24px;
  font-family: "IconicStroke";
  content: "s";
}

section aside {
  width: 256px;
  float: right;
}

section aside header {
  margin: 32px 0 0 0;
}

section aside header:first-child {
  margin: 0;
}

section aside h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}

section aside > ul {
  margin: 10px 0 4px 18px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}

section aside dt {
  position: relative;
  color: #222;
  margin: 10px 0 4px 16px;
  padding: 4px 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}

section aside dt:before {
  position: absolute;
  top: 4px;
  left: 0;
  color: #222;
  font-size: 18px;
  font-family: "IconicStroke";
  content: "d";
}

section aside dd {
  background: transparent;
  color: #555;
  margin: 0 0 0 36px;
}

section aside dd ul {
  list-style: none;
}

section aside dd li {
  font: normal 12px/1.8 Monaco, Monospace;
}

section aside dd li a span {
  width: 42px;
  text-align: right;
  display: inline-block;
}


table {
  width: 100%;
  margin: 0 0 20px 0;
  border-top: 1px solid #EEE;
  border-left: 1px solid #EEE;
  border-spacing: 0;
  font-size: 14px;
  line-height: 1.5;
}

table thead th {
  background: #F4F4F4;
  color: #444;
  padding: 6px;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  font-size: 12px;
  text-align: left;
}

table tbody td {
  background: #FFF;
  color: #555;
  padding: 6px;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  font-size: 12px;
  text-align: left;
  vertical-align: top;
}

table.errors tbody tr td:nth-child(1),
table.parameters tbody tr td:nth-child(1),
table.parameters tbody tr td:nth-child(2) {
  width: 80px;
}

table.errors tbody tr td:nth-child(3) {
  width: 360px;
}

table tbody tr.nested td:nth-child(1) {
  padding-left: 23px;
}

table tbody td span {
  font-size: 11px;
  font-style: italic;
  display: block;
}


footer {
  margin: 48px auto 0 auto !important;
  padding: 8px 0 0 8px;
  border-top: 1px solid #EEE;
  font: normal 11px/1.6 "Helvetica Neue Light", HelveticaNeue-Light, Helvetica, Arial, Sans-serif;
}

footer a {
  background: transparent;
  color: #555;
  font-weight: bold;
}


.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}


.highlight {
  background: #FAFAFA;
  color: #000;
  margin: 0 0 14px 0;
  border: 1px solid #EEE;
}

.highlight pre {
  padding: 12px;
  font-size: 12px;
}

.highlight .k        { font-weight: bold; }
.highlight .mi       { color: #099; }
.highlight .na       { color: #008080; }
.highlight .nt       { color: #000080; }
.highlight .o        { font-weight: bold; }
.highlight .s        { color: #D14; }
.highlight .s1       { color: #D14; }
.highlight .s2       { color: #D14; }
.highlight .variable { color: #F00; font-weight: bold; }

.highlight .kd { font-weight: bold; } /* Keyword.Declaration */
