<header>
  <h1>Request an API Token</h1>
</header>

<p>If you want to create records you will need an API token. If you are only querying records, you do not.</p>

<form action="http://openbeerdatabase.createsend.com/t/r/s/ndyukh/" method="post">
  <label for="name">Name:</label><br>
  <input type="text" name="cm-name" id="name"><br>

  <label for="ndyukh-ndyukh">E-mail:</label><br>
  <input type="text" name="cm-ndyukh-ndyukh" id="ndyukh-ndyukh"><br>

  <label for="Usage">Usage:</label><br>
  <input type="checkbox" name="cm-fo-htiuui" id="cm743345" value="743345"> <label for="cm743345">Desktop Application</label><br>
  <input type="checkbox" name="cm-fo-htiuui" id="cm743346" value="743346"> <label for="cm743346">Mobile Application</label><br>
  <input type="checkbox" name="cm-fo-htiuui" id="cm743347" value="743347"> <label for="cm743347">Web Application</label><br>
  <input type="checkbox" name="cm-fo-htiuui" id="cm743348" value="743348"> <label for="cm743348">Other</label><br>

  <button type="submit">Send Request</button>
</form>
