<header>
  <h1>GET /breweries/:id</h1>
</header>

<p>Retrieve the details of a specific brewery.</p>

<h2>Parameters</h2>

<p>All parameters are optional.</p>

<table class="parameters">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>callback</td>
      <td>string</td>
      <td>Name of the callback function for JSONP.</td>
    </tr>
    <tr>
      <td>token</td>
      <td>string</td>
      <td>The token of the API user who created the brewery, if an API user created the brewery.</td>
    </tr>
  </tbody>
</table>

<h2>Errors</h2>

<table class="errors">
  <thead>
    <tr>
      <th>Status</th>
      <th>Reason</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>401</td>
      <td>Unauthorized.</td>
    </tr>
    <tr>
      <td>404</td>
      <td>Not found.</td>
    </tr>
    <tr>
      <td>406</td>
      <td>Invalid format.</td>
    </tr>
  </tbody>
</table>

<h2>Example</h2>

<div class="highlight"><pre><code>GET /v1/beers/<span class="variable">id</span>.json HTTP/1.1
Host: api.openbeerdatabase.com
Content-Type: application/json; charset=utf-8</code></pre>
</div>

<div class="highlight"><pre><code class="js">HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
Content-Length: <span class="variable">length</span>

<span class="p">{</span> <span class="s2">&#34;id&#34;</span>   <span class="o">:</span> <span class="variable">id</span><span class="p">,</span>
  <span class="s2">&#34;name&#34;</span> <span class="o">:</span> <span class="s2">&#34;Abita&#34;</span><span class="p">,</span>
  <span class="s2">&#34;url&#34;</span>  <span class="o">:</span> <span class="s2">&#34;http://abita.com&#34;</span>
<span class="p">}</span>
</code></pre>
</div>
