<header>
  <h1>Errors</h1>
</header>

<p>All errors are returned as a JSON object.</p>

<h2>Example</h2>

<div class="highlight"><pre><code class="js"><span class="p">{</span> <span class="s2">&#34;errors&#34;</span> <span class="o">:</span> <span class="p">{</span>
    <span class="s2">&#34;abv&#34;</span>  <span class="o">:</span> [<span class="s2">&#34;can't be blank&#34;</span><span class="p">,</span> <span class="s2">&#34;is not a number&#34;</span>]<span class="p">,</span>
    <span class="s2">&#34;name&#34;</span> <span class="o">:</span> [<span class="s2">&#34;can't be blank&#34;</span>]
  <span class="p">}</span>
<span class="p">}</span>
</code></pre>
</div>
