<header>
  <h1>Overview</h1>
</header>

<h2>Caching</h2>

<p>Normal requests are always fresh, but JSONP requests are cached for 15 minutes.</p>

<h2>Rate Limit</h2>

<p>The API is not currently rate limited. Please use good judgment when designing your application.</p>

<h2>Responses</h2>

<p>Currently the only supported formats are JSON (<code>application/json</code>) and JSONP (<code>text/javascript</code>).</p>
